<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.database_termproject.twitter">

    <!--  인터넷  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 카메라, 저장소 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Twitter">

        <!-- Splash -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- signin -->
        <activity
            android:name=".ui.signin.SigninActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.signin.SignUp1Activity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.signin.SignUp2Activity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.signin.InterestActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <!-- Main -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.example.ExampleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!--  Post  -->
        <activity
            android:name=".ui.post.PostActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!--  Edit  -->
        <activity
            android:name=".ui.edit.EditActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

    </application>
</manifest>